@tailwind base;
@tailwind components;
@tailwind utilities;

.header-fixed {
  @apply fixed;
}

.header-transition {
  @apply z-[999] w-[90%] px-5 py-2 translate-y-5 bg-dark border-2 border-lightSunset md:w-[90%] lg:w-[85%] lg:border-[3px];
  box-shadow: 3.5px 3.5px 0 0.5px #ff8906;
}

.hamburger-line {
  @apply w-[25px] h-[2.5px] my-1.5 block bg-second transition-all duration-500 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.nav-link {
  @apply font-comic-neue font-semibold text-base text-second py-2 mx-8 flex lg:text-xl hover:text-dark transition duration-300 ease-in-out lg:hover:text-primary;
}

.backdrop-bg {
  @apply after:content-[''] after:absolute after:top-0 after:left-0 after:bottom-0 after:right-0 after:bg-dark after:opacity-85 after:z-10;
}

.hero::before {
  @apply content-[""] block absolute bottom-0 w-full h-1/3 bg-gradient-to-t from-[#0f0e19] via-transparent;
  background-position: 0%;
  background-size: 5%;
}

.drop-shadow-custom {
  filter: drop-shadow(0px 0px 4px rgba(255, 137, 6, 0.3));
}

.box-shadow {
  box-shadow: 5px 5px 0px 0.5px #ff8906;
}

.btn-shadow {
  box-shadow: 3px 3px 0px 0.5px #ff8906;
}

.last-linear::before {
  @apply content-[""] block absolute top-0 w-full h-1/3 bg-gradient-to-b from-[#0f0e19];
  background-position: 0%;
  background-size: 5%;
}

.card-scroll-bar {
  @apply [&::-webkit-scrollbar]:h-1 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:bg-primary lg:[&::-webkit-scrollbar]:h-1.5;
}

.icon-detail {
  @apply font-montserrat font-semibold text-sm text-second flex place-items-center justify-center flex-col gap-0.5 md:text-base xl:text-lg;
}
