@tailwind base;
@tailwind components;
@tailwind utilities;

.header-fixed {
  @apply fixed;
}

.header-transition {
  @apply z-[999] w-[96%] px-5 py-2 rounded-full translate-y-5 bg-dark shadow-sm shadow-primary md:w-[90%] lg:w-4/5;
}

.hamburger-line {
  @apply w-[25px] h-[2.5px] my-1.5 block bg-second transition-all duration-500 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.backdrop-bg {
  @apply after:content-[''] after:absolute after:top-0 after:left-0 after:bottom-0 after:right-0 after:bg-dark after:opacity-85 after:z-10;
}

.drop-shadow-custom {
  filter: drop-shadow(0px 0px 4px rgba(255, 137, 6, 0.3));
}

.box-shadow {
  box-shadow: 5px 5px 0px 0.5px #ff8906;
}

.btn-shadow{
    box-shadow: 3px 3px 0px 0.5px #ff8906;
}
